html, body, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-size: inherit
}

body {
    font-size: 16px;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, .cb-custom-button {
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 40px;
}

#top-nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
}

#top-nav .left-nav-items #menu-items {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

#top-nav .left-nav-items #menu-items li {
    margin-right: 10px;
}
#top-nav .left-nav-items #menu-items li:last-child {
    margin-right: 0px;
}

#top-nav .logo {
    height: 100%;
}

#top-nav .right-icons {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}
#top-nav .right-icons .right-icon {
    margin-left: 20px;
}
#top-nav .right-icons .right-icon:first-child {
    margin-left: 0px;
}

#header {
    height: 300px;
    background-color: black;
    color: white;
    border:1px solid black;
    position: relative;
}

#header .header-text {
    border: 1px solid;
    background-color: white;
    color: black;
    width: 33%;
    position: absolute;
}

#homepage-categories {
    border: 1px solid red;
    padding-left: 100px;
    padding-right: 100px;
}
#homepage-categories .homepage-category {
    border: 1px solid green;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

#browse {
    /*height: 500px;*/
    border: 1px solid green;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

#browse .left-nav-items {
    width: 100px;
}

#browse .browse-grid {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
}

#browse .browse-grid .shirt {
    border:1px solid blue;
    height: 250px;
    width: 250px;
}
