<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZerosVintage</title>

        <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="./css/main.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="./css/{{pageName}}.css" media="screen" charset="utf-8">
    </head>
    <body>
        <!-- Icon shifted left --><!--ZerosVintage --><!-- Home Shop Search Cart-->
        <!-- sign up (enter email address) -->
        <div id="overlay-wrapper"></div>
        <nav id="top-nav-desktop" class="navigation-bar">
            <ul id="top-nav-desktop-menu-items">
                <li class="top-nav-desktop-logo-container logo-container">
                    <div class="logo"></div>
                </li>
                <li>ZEROSVINTAGE</li>
                <li>
                    <ul class="right-icons">
                        <li>
                            <form id="desktop-search-form" class="input-group" action="" method="GET">
                                <label for="product"></label>
                                <input id="product" type="text" name="product" class="form-control" value="" placeholder="Search...">
                                <button type="submit" class="input-group-addon" title="Search">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                                </button>
                            </form>
                        </li>
                        <li id="desktop-browse-menu-item" class="nav-with-submenu">
                            <a href="#">browse</a>
                            <ul id="desktop-browse-submenu" class="nav-submenu">
                                <!-- TODO - maybe submenu here for the decades -->
                                <li class="nav-bar-item-link"><a href="#">t-shirts</a></li>
                                <li class="nav-bar-item-link"><a href="#">boots</a></li>
                                <li class="nav-bar-item-link"><a href="#">antiques</a></li>
                                <li class="nav-bar-item-link"><a href="#">everything</a></li>
                            </ul>
                        </li>
                        <li id="desktop-more-menu-item" class="nav-with-submenu">
                            <a href="#">more</a>
                            <ul id="desktop-more-submenu" class="nav-submenu">
                                <li class="nav-bar-item-link"><a href="#">about</a></li>
                                <li class="nav-bar-item-link"><a href="#">sign up</a></li>
                                <li class="nav-bar-item-link">
                                    <a href="https://www.instagram.com/zerosvintage/" title="Visit our Instagram page" target="_blank">
                                        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-bar-item-link">
                                    <a href="https://www.etsy.com/shop/hopvintage" title="Visit our Etsy page" target="_blank">
                                        <i class="fa fa-etsy fa-lg" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-logo-header" class="logo-container">
            <div class="logo"></div>
        </div>
        <nav id="top-nav" class="navigation-bar">
            <ul id="top-nav-menu-items">
                <li class="link-with-icon">
                    <div class="top-nav-menu-icon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></div>
                    <a href="#" title="Home">home</a>
                </li>
                <li class="link-with-icon">
                    <div class="top-nav-menu-icon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></div>
                    <a href="#" title="Browse">browse</a>
                </li>
                <li id="mobile-nav-search-link" class="link-with-icon">
                    <div class="top-nav-menu-icon"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
                    <a href="#" title="Search">search</a>
                </li>
                <li class="link-with-icon">
                    <div class="top-nav-menu-icon"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></div>
                    <a href="#" title="Shopping Cart">cart</a>
                <li class="logo"></li>
                <li id="more-hamburger" class="link-with-icon mobile-nav-with-submenu">
                    <div class="top-nav-menu-icon">
                        <!-- <i class="fa fa-bars fa-lg" aria-hidden="true"></i> -->
                        <div class="hamburger">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                    <a href="#" title="More">more</a>
                    <div id="hamburger-menu-content" class="mobile-nav-submenu">
                        <ul>
                            <li>about us</li>
                            <li>shop</li>
                            <li><a href="#" title="Etsy"><i class="fa fa-etsy fa-lg" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="Instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="overlay-search">
            <div class="overlay-search-container">
                <form id="overlay-search-form" action="" method="GET">
                    <input id="overlay-search-field" type="text" name="product" value="" placeholder="Search...">
                </form>
                <a id="close-overlay-search" href="#" title="Close Search">
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="content">
            {{{body}}}
        </div>

        <script type="text/javascript" src="js/lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/application.js"></script>
    </body>
</html>
