<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ZerosVintage</title>

        <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="./css/main.css" media="screen" charset="utf-8">
    </head>
    <body>
        <nav id="top-nav">
            <div class="left-nav-items">
                <ul id="menu-items">
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">categories</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="./img/rock_n_roll.jpg" alt="ZerosVintage" />
            </div>
            <div class="right-icons">
                <!-- Add search icon, when hover, search field expands -->
                <div class="right-icon">
                    <input type="text" name="product" value="" placeholder="Search...">
                </div>
                <div class="right-icon">
                    <a href="#" title="Search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
                </div>
                <!-- Instagram -->
                <div class="right-icon">
                    <a href="#" title="Instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                </div>
                <!-- Etsy -->
                <div class="right-icon">
                    <a href="#" title="Etsy"><i class="fa fa-etsy fa-lg" aria-hidden="true"></i></a>
                </div>
                <!-- Cart -->
                <div class="right-icon">
                    <a href="#" title="Cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </nav>

        {{{body}}}


        <script type="text/javascript" src="./js/application.js"></script>
    </body>
</html>
