<section id="header">
    <div class="header-text">
        <h1>ZerosVintage</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
        <button type="button">browse</button>
    </div>
</section>
<section id="homepage-categories">
    <div id="t-shirt-homepage-category" class="homepage-category">
        <div class="hc-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="hc-items">
            <!-- On hover of shirt, give user option to browse shirts, and add this shirt to cart -->
            <ul class="hc-browse-list">
                <li class="hc-browse-item">
                    <a href="#" title="shirt" class="browse-item-image"><img src="./img/shirt.jpg" alt="Shirts" /></a>
                    <div class="hc-browse-item-desc">
                        <h1>Vintage 1992 PEARL JAM "Choices" Tour Concert Band Shirt 90s 1990s</h1>
                        <h2>$149.99</h2>
                    </div>
                    <div class="pdp-overlay" aria-hidden="true">
                        <a href="/pdp" class="cb-custom-button button">details</a>
                        <a href="#" class="cb-custom-button button">add to cart</a>
                    </div>
                </li>
                <li class="hc-browse-item">
                    <a href="#" title="shirt" class="browse-item-image"><img src="./img/shirt2.jpg" alt="Shirts" /></a>
                    <div class="hc-browse-item-desc">
                        <h1>RaRe 1978 Grateful Dead Vintage Tour Concert Band Shirt 70s 1970s Screen Stars</h1>
                        <h2>$325.00</h2>
                    </div>
                    <div class="pdp-overlay" aria-hidden="true">
                        <a href="/pdp" class="cb-custom-button button">details</a>
                        <a href="#" class="cb-custom-button button">add to cart</a>
                    </div>
                </li>
                <li class="hc-browse-item">
                    <a href="#" title="shirt" class="browse-item-image"><img src="./img/shirt3.jpg" alt="Shirts" /></a>
                    <div class="hc-browse-item-desc">
                        <h1>RaRe 70s Harley Davidson #1 Vintage Tee Shirt 1970s, Authentic, thin and Soft</h1>
                        <h2>$275.00</h2>
                    </div>
                    <div class="pdp-overlay" aria-hidden="true">
                        <a href="/pdp" class="cb-custom-button button">details</a>
                        <a href="#" class="cb-custom-button button">add to cart</a>
                    </div>
                </li>
                <li class="hc-browse-item">
                    <a href="#" title="shirt" class="browse-item-image"><img src="./img/shirt4.jpg" alt="Shirts" /></a>
                    <div class="hc-browse-item-desc">
                        <h1>80s The Pretenders Vintage Tour Concert Band Rock Shirt 1980s Hanes</h1>
                        <h2>$175.00</h2>
                    </div>
                    <div class="pdp-overlay" aria-hidden="true">
                        <a href="/pdp" class="cb-custom-button button">details</a>
                        <a href="#" class="cb-custom-button button">add to cart</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <a href="/browse" class="cb-custom-button button">browse shirts</a> -->
    </div>
    <div class="homepage-category left">
        <div class="hc-category">
            <a href="#" title="boots"><img src="./img/boots.jpg" alt="Boots" /></a>
        </div>
        <div class="hc-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" name="button">browse shoes</button>
        </div>
    </div>
    <div class="homepage-category right">
        <div class="hc-category">
            <a href="#" title="magazine"><img src="./img/magazine.jpg" alt="Magazines" /></a>
        </div>
        <div class="hc-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" name="button">browse antiques</button>
        </div>
    </div>
</section>
