<div class="pdp-image-description-container">
    <section id="pdp-image">
        <div class="pdp-image-carousel-top">
            <a href="#"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></a>
            <img src="/img/shirt.jpg" alt="1992 Vintage Pearl Jam" id="pdp-image" />
            <a href="#"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
        </div>
        <div >
            <ul class="pdp-image-carousel-thumbnails">
                <li class="pdp-thumbnail active"><a href="#"><img src="/img/shirt.jpg" alt="1992 Vintage Pearl Jam" /></a></li>
                <li class="pdp-thumbnail"><a href="#"><img src="/img/shirt.jpg" alt="1992 Vintage Pearl Jam" /></a></li>
                <li class="pdp-thumbnail"><a href="#"><img src="/img/shirt.jpg" alt="1992 Vintage Pearl Jam" /></a></li>
            </ul>
        </div>
    </section>
    <section id="pdp-description">
        <h1 id="pdp-d-title">Vintage 1992 PEARL JAM "Choices" Tour Concert Band Shirt 90s 1990s</h1>
        <h2>$149.99</h2>
        <h3>Overview:</h3>
        <ul>
            <li>Vintage item</li>
            <li>Primary color: Black</li>
            <li>Size: M Men's</li>
            <li>Ships worldwide from United States</li>
            <li>Quantity: 1 available</li>
        </ul>
        <button id="pdp-atc-button" type="button">add to cart</button><br>
        <a href="#">See more from this category</a>
    </section>
</div>
<div class="pdp-product-suggestions">
    <h3>you might also like:</h3>
    <ul class="pdp-product-suggestion-list">
        <li class="pdp-product-suggestion">
            <a href="#"><img src="/img/boots.jpg" alt="Boots" class="product-thumbnail-image"/></a>
            <div class="suggestion-title-price">
                <p>Vintage 1967 Vietnam Combat Military Jumper Black Leather Boots</p>
                <p>$225.00</p>
            </div>
        </li>
        <li class="pdp-product-suggestion">
            <a href="#"><img src="/img/magazine.jpg" alt="Magazine" class="product-thumbnail-image"/></a>
            <div class="suggestion-title-price">
                <p>1972 Rolling Stone Magazine, Jane Fonda Cover, May 25, Issue</p>
                <p>$59.00</p>
            </div>
        </li>
        <li class="pdp-product-suggestion">
            <a href="#"><img src="/img/shirt.jpg" alt="Shirt" class="product-thumbnail-image"/></a>
            <div class="suggestion-title-price">
                <p>Vintage 1992 PEARL JAM "Choices" Tour Concert Band Shirt 90s 1990s</p>
                <p>$149.00</p>
            </div>
        </li>
    </ul>
</div>
