button, .cb-custom-button {
    width: 200px;
}

#header {
    height: 300px;
    background-color: #9e9e9e;
    color: #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

#header .header-text {
    background-color: transparent;
    color: #000;
    width: auto;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 15px;

}
#header .header-text h1 {
    font-size: 2.0rem;
    margin-bottom: 10px;
}

#header .header-text button {
    position: static;
    right: 0px;
    width: 100%;
}

#homepage-categories {
    padding-left: 10px;
    padding-right: 10px;
}
#homepage-categories .homepage-category {
    border: 1px solid green;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
}
#homepage-categories .homepage-category:first-child {
    margin-top: 30px;
}

#homepage-categories .homepage-category .hc-category {

}

#homepage-categories .homepage-category .hc-description {
}

#homepage-categories .homepage-category .hc-description button {
    position: absolute;
    bottom: -16px;

}

#homepage-categories .homepage-category.right .hc-description button {
    left: 30px;
}
#homepage-categories .homepage-category.left .hc-description button {
    right: 30px;
}


@media screen and (min-width: 1024px) {
    #header .header-text {
        width: 500px;
        background-color: #fff;
        position: absolute;
        top: 30px;
        left: 50px;
    }
    #header .header-text button {
        position: absolute;
        right: 10px;
        width: 200px;
    }


    #homepage-categories {
        padding-left: 100px;
        padding-right: 100px;
    }
    #homepage-categories .homepage-category {
        flex-direction: row;
        height: 200px;
        padding-bottom: 20px;
    }
    #homepage-categories .homepage-category.right {
        text-align: left;
    }
    #homepage-categories .homepage-category.left {
        text-align: right;
        flex-direction: row-reverse;
    }
    #homepage-categories .homepage-category.right .hc-description {
        margin-left: 20px;
    }
    #homepage-categories .homepage-category.left .hc-description {
        margin-right: 20px;
    }
    #homepage-categories .homepage-category .hc-category {
        height: auto;
        width: auto;
    }
    #homepage-categories .homepage-category .hc-description button {
        position: static;
        margin-top: 10px;
    }
}
