html, body, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-size: inherit
}

body {
    font-size: 16px;
    background: #ccc;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

button, .cb-custom-button {
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 40px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

#overlay-wrapper {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
}
.logo-container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo {
    height: 86%;
    width: 165px;
    background-position-x: center;
    background-position-y: -8px;
    border-radius: 10px;
    background-image: url('/img/rock_n_roll.jpg');
}

.navigation-bar {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 2;
}

.nav-with-submenu .nav-submenu .nav-bar-item-link a {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
}

#mobile-logo-header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid;
}
#top-nav-desktop {
    display: none;
}
#top-nav {
    bottom: 0px;
    height: 70px;
    box-shadow: 0px -3px 9px rgba(0,0,0,0.50);
    transition: 0.3s;
}
#top-nav #top-nav-menu-items {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#top-nav #top-nav-menu-items .link-with-icon {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    height: 100%;
    flex: 1;
}
#top-nav #top-nav-menu-items .link-with-icon:last-child {
    border-right: 0px;
}
#top-nav #top-nav-menu-items .link-with-icon a {
    text-decoration: none;
}
#top-nav #top-nav-menu-items .link-with-icon .top-nav-menu-icon {
    margin-bottom: 10px;
}

.hamburger.close .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.close .bar2 {
    opacity: 0;
}
.hamburger.close .bar3 {
    transform: rotate(45deg) translate(-4px, -5px);
}
.hamburger .bar {
    height: 3px;
    width: 24px;
    background-color: #000;
    margin: 5px auto;
    transition: 0.4s;
}

#hamburger-menu-content {
    position: fixed;
    bottom: 71px;
    right: 2px;
    transform: translateY(1000px);
    border-left: 1px solid rgba(0, 0, 0, 0.33);
    border-top: 1px solid rgba(0, 0, 0, 0.33);
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.50);
    width: 125px;
    z-index: 1;
    transition: transform 0.4s;
}
#hamburger-menu-content.slide-in {
    transform: translateY(0%);
}
#hamburger-menu-content li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 40px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
#hamburger-menu-content li:last-child {
    border-bottom: 0px;
}
#hamburger-menu-content #close-hamburger {
    float: right;
}

#top-nav .logo {
    display: none;
}

#overlay-search {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 200px;
    width: 100%;
}
#overlay-search .overlay-search-container {
    padding-left: 10px;
}
#overlay-search .overlay-search-container p {
    color: #000;
}
#overlay-search #overlay-search-form input[type='text'] {
    width: 0px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    transition: width 0.75s;
}
#overlay-search.open #overlay-search-form input[type='text'] {
    width: 80%;
}
#overlay-search #close-overlay-search {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #fff;
    padding: 4px;
    border: 2px solid #fff;
}

#browse .left-nav-items {
    width: 100px;
}
#browse .browse-grid {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
}
#browse .browse-grid .shirt {
    border:1px solid blue;
    height: 250px;
    width: 250px;
}

/* overlay when user hovers over a product */
.pdp-overlay {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: 0.4s;
}
.pdp-overlay.show {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdp-overlay .button {
    width: 60%;
    text-transform: uppercase;
}
.pdp-overlay .button:first-child {
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
    button, .cb-custom-button {
        width: 200px;
    }
    body .content {
        /* Setting this to 80px since that is height of top nav bar */
        margin-top: 80px;
    }
    #hamburger-menu-content {
        bottom: 0px;
    }
    #top-nav-desktop {
        display: block;
        top: 0px;
        height: 80px;
        box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
    }
    #top-nav-desktop #top-nav-desktop-menu-items {
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .top-nav-desktop-logo-container {
        /*height: 100%;*/
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons > li {
        margin-left: 20px;
        display: inline-block;
        height: 80px;
        padding-top: 30px;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons > li:first-child {
        margin-left: 0px;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons > li a {
        text-decoration: none;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons .nav-with-submenu {
        width: 75px;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons .nav-with-submenu .nav-submenu {
        display: none;
        position: absolute;
        /* Gets top 80px since that is height of top nav bar */
        top: 80px;
        background: #fff;
        box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons .nav-with-submenu .nav-submenu li {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        border-left: 1px solid rgba(0, 0, 0, 0.33);
        border-right: 1px solid rgba(0, 0, 0, 0.33);
        border-bottom: 1px solid rgba(0, 0, 0, 0.33);
        transition: background-color 0.4s;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons .nav-with-submenu .nav-submenu li:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.33);
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons .nav-with-submenu .nav-submenu li:hover {
        background-color: #eee;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-search-form input[type='text'] {
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-bottom: 2px solid #ccc;
        height: 20px;
        width: 100px;
        transition: width 0.3s;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-search-form input.expand-field[type='text'] {
        width: 200px;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-search-form input[type='text']:focus {
        width: 200px;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-search-form input[type='text']::placeholder {
        color: red;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-search-form button[type='submit']{
        background-color: #fff;
        color: #000;
        width: 25px;
        padding: 0;
    }
    #top-nav-desktop #top-nav-desktop-menu-items .right-icons #desktop-more-menu-item #desktop-more-submenu {
        right: 24px;
    }
    #mobile-logo-header {
        display: none;
    }
    #top-nav {
        display: none;
    }
    #top-nav .left-nav-items #hamburger {
        display: none;
    }
}
