html, body, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-size: inherit
}

body {
    font-size: 16px;
    background: #ccc;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

button, .cb-custom-button {
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 40px;
    width: 100%;
    cursor: pointer;
}

#overlay-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

#top-nav {
    position: fixed;
    top: 0px;
    background: #fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #000;
    z-index: 1;
    transition: height 0.4s;
}
#top-nav #top-nav-menu-items {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#top-nav #top-nav-menu-items li:last-child {
    margin-right: 0px;
}
#top-nav #top-nav-menu-items .link-with-icon {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
#top-nav #top-nav-menu-items .link-with-icon a {
    text-decoration: none;
}
#top-nav #top-nav-menu-items .link-with-icon .top-nav-menu-icon {
    margin-bottom: 10px;
}

.hamburger.close .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.close .bar2 {
    opacity: 0;
}
.hamburger.close .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.hamburger .bar {
    height: 3px;
    width: 30px;
    background-color: #000;
    margin: 6px auto;
    transition: 0.4s;
}

#hamburger-menu-content {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    border-left: 1px solid #000;
    background-color: #fff;
    width: 75%;
    z-index: 1001;
    transition: transform 0.4s;
}
#hamburger-menu-content.slide-in {
    display: block;
    transform: translateX(0%);
}
#hamburger-menu-content li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 40px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
#hamburger-menu-content #close-hamburger {
    float: right;
}

#top-nav .logo {
    display: none;
}

body .content {
    /* Setting this to 80px since that is height of top nav bar */
    margin-top: 80px;
}

#browse .left-nav-items {
    width: 100px;
}

#browse .browse-grid {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
}

#browse .browse-grid .shirt {
    border:1px solid blue;
    height: 250px;
    width: 250px;
}

@media screen and (min-width: 1024px) {
    button, .cb-custom-button {
        width: 200px;
    }
    #top-nav {
        height: 100px;
    }
    #top-nav .left-nav-items #hamburger {
        display: none;
    }

    #top-nav .logo {
        height: 86%;
        width: 100px;
        border-radius: 10px;
        background-image: url('/img/rock_n_roll.jpg');
    }
}
